<%= turbo_stream_from "bookmarks_index" %>

<div class="w-1/2 relative top-12">
  <% @bookmarks.each do |post| %>
    <%= render "posts/single_post", post: post, view: :bookmarks %>
  <% end %>
</div>

<%= render "search/form" %>
