<% bg_color = "bg-indigo-500" %>

<div class="flex grow-0 shrink-0 rounded-xl rounded-br-none m-6 justify-end text-white <%= bg_color %>" id="<%= message.id %>" data-controller="scroller">
  <%= message.body %>
</div>
