<% bg_color = "bg-gray-500" %>

<div class="max-w-md h-fit p-3 rounded-xl rounded-bl-none m-1 self-start text-white <%= bg_color %> break-words" id="<%= message.id %>" data-controller="scroller">
  <%= message.body %>
</div>
