<div data-controller="message" class="message-form">
  <%= form_with model: Message.new, url: messages_path, data: { action: "turbo:submit-end->message#clear"}, class: "flex" do |f| %>
    <div class="area-box">
      <%= f.hidden_field :conversation_id, value: conversation.id %>
      <%= f.text_area :body, class: "w-[calc(38vw-20px)]", placeholder: "Start a new message", rows: 2 , cols: 50, data: {controller: "autogrow", message_target: "area", action: "input->message#update"} %>
    </div>
    <%= render partial: "messages/fake_submit_message" %>
  <% end %>
</div>
