<span class="share-in-conversation">
  <%= button_to share_post_path(username: post.author.username, id: post.id), data: { turbo_frame: "modal"}, method: :get do %>
    <%= content_tag(:span, send_via_message_svg) %>
    <%= content_tag(:span, "Send via Direct Message", class: "") %>
  <% end %>
</span>
