<div data-controller="tweet turbo-modal" class="tweet-form" data-tweet-target="modal">
  <%= form_with model: Quote.new, url: quotes_path(id: rt), data: { action: "turbo:submit-end->tweet#clear turbo:submit-end->turbo-modal#close"} do |f| %>

    <div onclick="history.back()" class="close-button">X</div>

    <div class="area-box" >
      <%= f.text_area :body, placeholder: "What is happening?!", :rows => 4 , :cols => 50, data: {controller: "autogrow", "tweet-target": "area", "action": "input->tweet#update" }, autofocus: true %>
    </div>

    <div class="circle-counter" data-tweet-target="circle counter" data-action="input->tweet#progressCircle input->tweet#showCount"></div>

    <div class= "origin-tweet">
      <%= render "quotes/quote_single_tweet", t: rt %>
    </div>
    <%= render "shared/fake_button" %>
  <% end %>
</div>
