<div data-controller="tweet turbo-modal" class="tweet-form" data-tweet-target="modal">
  <div data-action="click->turbo-modal#close" class="close-button">X</div>

  <%= form_with model: Quote.new, url: quotes_path(id: rt), data: { action: "turbo:submit-end->tweet#clear turbo:submit-end->turbo-modal#close"} do |f| %>
    <div class="area-box" >
      <%= f.text_area :body, placeholder: "What is happening?!", :rows => 4 , :cols => 50, data: {controller: "autogrow", "tweet-target": "area", "action": "input->tweet#update" }, autofocus: true %>
    </div>

    <div class="circle-counter" data-tweet-target="circle counter" data-action="input->tweet#progressCircle input->tweet#showCount"></div>

    <div class= "origin-tweet">
      <%= render "quotes/quote_single_tweet", t: rt %>
    </div>

    <%# Submit button start %>
      <div class="tweet-button relative top-6 flex justify-end" data-tweet-target="submit">
        <%= f.submit "Quack", class:"fake-submit-tweet cursor-default focus:outline-none focus:shadow bg-orange-500 text-white font-bold py-2 px-4 rounded enabled:hover:brightness-125 disabled:opacity-60", disabled: true %>
      </div>
    <%# Submit button end %>
  <% end %>
</div>
