<%= turbo_frame_tag "modal" do %>
  <div class="backdrop"></div>
  <%= render "quotes/quote_form", repost: @repost %>
<% end %>

<% if @render_everything %>
  <%= render "posts/timeline" %>
<% end %>
