<% if modal %>
  <div data-controller="tweet turbo-modal" class="tweet-form">
<% else %>
  <div data-controller="tweet" class="tweet-form">
<% end %>

  <%= form_with model: Comment.new, url: comments_path(id: t), data: { action: "turbo:submit-end->tweet#clear turbo:submit-end->turbo-modal#close"} do |f| %>

    <% if modal %>
      <div onclick="history.back()" class="close-button">X</div>
    <% end %>

    <div class="origin-tweet">
        <%= render "quotes/quote_single_tweet", t: t %>
    </div>

    <div class="area-box" >
      <% if Tweet.find(params[:parent_tweet_id]).author == current_user %>
        <% placeholder = "Add another Tweet!" %>
      <% else %>
        <% placeholder = "Tweet your reply!" %>
      <% end %>
      <%= f.text_area :body, placeholder: placeholder, :rows => 4 , :cols => 50, data: {controller: "autogrow", "tweet-target": "area", "action": "input->tweet#update" } %>
    </div>

    <div class="circle-counter" data-tweet-target="circle counter" data-action="input->tweet#progressCircle input->tweet#showCount"></div>
    <%= render "shared/fake_button" %>
  <% end %>
</div>
