<%= turbo_frame_tag "modal" do %>
  <div class="backdrop"></div>
  <%= render "comments/comment_form", t: @comment, modal: true %>
<% end %>

<% if @render_everything %>
  <%= render "tweets/timeline" %>
<% end %>
