<%= turbo_frame_tag "modal" do %>
  <div class="backdrop"></div>
  <%= render partial: "comments/comment_form", locals: {post: @comment , modal: true} %>
<% end %>

<% if @render_everything %>
  <%= render partial: "posts/timeline" %>
<% end %>
