<%= render "search/form" %>

<h1><%= pluralize(@posts.count, "Result") %> </h1>

<% @posts.each do |post| %>
  <% original = post.original if post.comment? || post.repost? || post.quote_post? %>
  <% next if post.repost? && (current_user.account.has_blocked?(original.author) || original.author.account.has_blocked?(current_user)) %>
  <%= render partial: "posts/single_post", locals: {post: post, view: :timeline} %>
<% end %>




