<%= turbo_stream_from "messages" %>

<% conversation.messages.ordered.each do |m| %>
  <% if current_user == m.sender %>
    <% bg_color = "bg-indigo-500" %>
  <% else %>
    <% bg_color = "bg-gray-500" %>
  <% end %>

  <div class="rounded-lg m-6 text-white <%= bg_color %> flex-1" id="<%= m.id %>">
    <%= m.body %>
  </div>
<% end %>


