<%= link_to conversation_path(id: conversation.id), data: {turbo_frame: "messages", turbo_action: :advance}, class: "flex hover:bg-secondary hover:brightness-125 rounded-md p-2" do %>
  <div class="flex flex-col h-12 whitespace-nowrap overflow-hidden text-ellipsis">
    <% if conversation.name.nil? %>
      <div>
        <%= conversation.members.excluding(current_user).first.display_name %>
      </div>
      <% else %>
      <div><%= conversation.name %></div>
    <% end %>
    <div class="last-msg-preview overflow-hidden text-ellipsis">
       <%= conversation.messages.last.body if conversation.messages.size > 0 %>
    </div>
  </div>
<% end %>
