<div data-controller="tweet">
  <%= form_with model: Tweet.new, url: tweets_url(parent_tweet_id: t), data: { turbo: false } do |f| %>
    <div class="origin_tweet">
        <%= render "tweets/quote_single_tweet", t: t %>
    </div>
    <div data-tweet-target="area" data-action="input->tweet#verifyLength">
      <% if Tweet.find(params[:parent_tweet_id]).author == current_user %>
        <% placeholder = "Add another Tweet!" %>
      <% else %>
        <% placeholder = "Tweet your reply!" %>
      <% end %>
      <%= f.text_area :body, placeholder: placeholder , :rows => 4 , :cols => 50, data: {controller: "autogrow" } %>
    </div>
    <div class="circle-counter" data-tweet-target="circle counter" data-action="input->tweet#progressCircle input->tweet#showCount"></div>
    <div class="submit-tweet" data-tweet-target="submit">
      <div class="fake-submit-tweet">
        Tweet
      </div>
    </div>
  <% end %>
</div>
