<span class="comments">
  <%= turbo_frame_tag "comment_#{t.id}" do %>
    <%= render "tweets/comment_button", t: t %>
  <% end %>

  <%= turbo_frame_tag "comment_count_#{t.id}" do %>
    <%= render "tweets/comment_count", t: t %>
  <% end %>
</span>
