<% user = current_user if local_assigns[:user].nil? %>

<div class="dropdown retweet" data-controller="dropdown" data-action="click->dropdown#dropMenu">

    <button><%= retweet_icon_svg %></button>

    <div class="dropdown-content" data-dropdown-target="menu">
      <div class="backdrop"></div>
      <% if current_user.has_rt?(t) %>
        <%= render "tweets/unretweet_button", t: t, self_rt: self_rt %>
      <% else %>
        <%= render "tweets/retweet_button", t: t %>
      <% end %>
      <%= render "tweets/quote_button", t: t %>
    </div>
</div>


