<div class="dropdown" data-controller="retweet"  data-action="click->retweet#dropMenu" data-retweet-target="dropdown">
  <% if current_user.user_has_rt?(t) %>
    <span class="menu-unretweet" data-retweet-target="menuButton" >
  <% else %>
    <span class="menu-retweet" data-retweet-target="menuButton">
  <% end %>
      <button><%= retweet_icon_svg %></button>
    </span>

  <div class="myDropdown dropdown-content" data-retweet-target="menu">
    <% if current_user.user_has_rt?(t) %>
      <%= render "tweets/unretweet_button", t: t %>
    <% else %>
      <%= render "tweets/retweet_button", t: t %>
    <% end %>
    <%= render "tweets/quote_button", t: t %>
  </div>
</div>
