<% if current_user.user_has_like?(t) %>
  <span id="like-count" style="color: red"><%= t.likes.count %></span>
<% else %>
  <span id="like-count" style="color: black"><%= t.likes.count %></span>
<% end %>


