<% if current_user.liked_tweets.where(tweet_id: t).exists? %>
  <span id="like-count" style="color: red"><%= t.likes.count %></span>
<% else %>
  <span id="like-count" style="color: black"><%= t.likes.count %></span>
<% end %>


