<div class="dropdown" data-controller="dropdown" data-action="click->dropdown#dropMenu">

  <button><%= more_info_svg %></button>

  <div class="dropdown-content more-info" data-dropdown-target="menu">
    <div class="backdrop"></div>
    <div class="menuitem">items here</div>
    <div class="menuitem">items here</div>
    <div class="menuitem">items here</div>
    <div class="menuitem">items here</div>
    <div class="menuitem">items here</div>
  </div>
</div>
