<span class="quote" data-turbo="false">
  <%= button_to compose_tweet_path, params: { retweet_id: t.id }, remote: true do %>
    <%= content_tag(:span, quote_icon_svg) %>
    <%= content_tag(:span, "Quote Tweet", class: "quote-text") %>
  <% end %>
</span>
