<span class="retweets">
  <%= turbo_frame_tag "retweet_#{t.id}" do %>
    <span class="menu">
      <%= render "tweets/drop_menu", t: t %>
    </span>
  <% end %>

  <%= turbo_frame_tag "retweet_count_#{t.id}" do %>
    <%= render "tweets/retweet_count", t: t %>
  <% end %>
</span>


