<% if session[:first_visit] %>
  <%= render "users/profile_form" %>
<% end %>

<div><%= render "tweets/tweet_form" %></div>

<% @tweets.each do |t| %>
  <%= render "tweets/single_tweet", t: t %>
<% end %>

<%= button_to "Sign out", destroy_user_session_url, method: :delete %>

