<% if modal %>
  <div data-controller="tweet turbo-modal" class="tweet-form">
<% else %>
  <div data-controller="tweet" class="tweet-form">
<% end %>

  <%= form_with model: Tweet.new, url: tweets_path, data: { action: "turbo:submit-end->tweet#clear turbo:submit-end->turbo-modal#close"} do |f| %>
    <% if modal %>
      <div data-action="click->turbo-modal#close" class="close-button">X</div>
    <% end %>

    <div class="tweet-button" data-tweet-target="submit" >
      <%= turbo_frame_tag "submit-tweet" do %>
          <div class="fake-submit-tweet">
            Tweet
          </div>
      <% end %>
    </div>
  <% end %>
</div>
