
<div data-controller="tweet">
  <%= form_with model: Tweet.new, url: tweets_url do |f| %>
    <div data-tweet-target="area" data-action="input->tweet#verifyLength">
      <%= f.text_area :body, placeholder: "What's on your mind?", :rows => 4 , :cols => 50, data: {controller: "autogrow" } %>
    </div>
    <div id="char-limit" data-tweet-target="counter" data-action="input->tweet#showCount">
    </div>
  <%= f.submit "Tweet", id: "submit-tweet", disabled: true %><br />
  <% end %>
</div>
