
<div>
  <%= form_with model: @tweet do |f| %>
    <div>
      <%= f.text_area :body, placeholder: "What's on your mind?", :rows => 4 , :cols => 50 %>
    </div>
  <% end %>
<div>

<%= button_to "Tweet", new_tweet_url, method: :get %><br />
