<span id="unlike">
  <%= button_to unlike_icon_svg, like_path(username: current_user.username, id: current_user.liked_tweets.find_by(tweet_id: tweet.id)), params: { like: { tweet_id: tweet.id } }, method: :delete, remote: true %>
</span>
