<%# <%= turbo_frame_tag id="modal" do %> %>
  <%# <div data-controller="turbo-modal"> %>
    <%# <button data-action="click->turbo-modal#hideModal">X</button> %>
    <%= render "tweets/quote_form" %>
    <%= render "tweets/single_tweet_quote", t: @tweet %>
  <%# </div> %>
<%# <% end %> %>

