<% if session[:first_visit] %>
  <%= render "users/profile_form" %>
<% end %>

<div><%= render "tweets/tweet_form", modal: false %></div>

<%= render "tweets/timeline" %>

<%= button_to "Sign out", destroy_user_session_url, method: :delete %>
