<div><%= render "tweet_form" %></div>

<% Tweet.all.each do |t| %>
  <div>
    <%= link_to User.find_by(id: t.user_id).username, username_path(User.find_by(id: t.user_id).username) %>
    <%= t.body %>
  </div><br />
<% end%>

<%= button_to "Sign out", destroy_user_session_url, method: :delete %>
