<div class="tweet">
  <%= render "tweets/creator_info", t: @tweet %>
  <%= render "tweets/tweet_body", t: @tweet %>
  <%= render "tweets/likes", t: @tweet %>
  <%= render "tweets/retweets", t: @tweet %>
</div><br />
