<div class="notification follow-notification">
  <%= notifier.username %> followed you
  <div>
    <% if current_user.following?(notifier) %>
      <%= render "follows/unfollow", unfollow: current_user.active_follows.find_by(followed_id: notifier),
                                   user: notifier,
                                   params: {follow: {followed_id: notifier}} %>
    <% elsif current_user.sent_pending_request?(notifier) %>
      <%= render "follows/cancel_request", user: notifier %>
    <% else %>
      <%= render "follows/follow_back", user: notifier %>
    <% end %>
  </div>
</div>
