<div class="follow-request">
  <div>
    <%= user.display_name %>
  </div>
  <div>
    <%= user.username %>
  </div>

  <div>
    <%= button_to "Decline", unfollow, method: :delete, params: params %>
    <%= button_to "Accept", follow, method: :patch, params: params %>
  </div>
</div>
