<%= turbo_frame_tag id="modal" do %>
  <div data-controller="turbo-modal" >
    <% if !current_user.passive_follows.exists?(is_request: true) %>
      <%= render "follows/up_to_date_requests"%>
    <% else %>
      <% current_user.passive_follows.where(is_request: true).each do |request|%>
        <div>
          <%= render "user_follow_card", user: User.find(request.follower_id),
                                         request: request %>
        <div>
      <% end %>
    <% end %>
    <button data-action="click->turbo-modal#hideModal">X</button>
  </div>
<% end %>
