<% user = current_user if local_assigns[:user].nil? %>

<span class="unlike-btn">
  <%= button_to unlike_icon_svg, like_path(username: user.username, id: user.liked_tweets.find_by(tweet_id: tweet.id)), params: { like: { tweet_id: tweet.id } }, method: :delete, remote: true %>
</span>

