<div class="user-profile-private">
  <span><%= link_to "Tweets", username_path(@user.username), target: :_top %></span>
  <span><%= link_to "Replies", username_replies_path(@user.username), target: :_top %></span>
  <span> media </span>
  <span><%= link_to "Likes", user_likes_path(@user.username), target: :_top %> </span>
</div>
