  <%= render "profile_banner" %>

  <% if current_user.following?(@user) || current_user == @user || !@user.account.private_visibility %>
    <div id="user-profile-private">
      <div>
        Tweets:
        <%= render "all_tweets" %>
      </span>

      <div> "replies/retweets" </div>

      <div> media </div>

      <span><%= link_to "Likes", user_likes_url(@user.username)%> </span>
    </div>
  <% else %>
    <h3>These Tweets are protected</h3>
    <span>Only approved followers can see @<%= @user.username %>’s Tweets. To request access, click Follow.</span>
  <% end %>
