<%= button_to "Unfollow back", unfollow, method: :delete, form: { data: {turbo_confirm: "Are you sure?"}}, params: {follow: {followed_id: notifier }} %>

<dialog id="turbo-confirm">
  <form method="dialog">
    <h3>Unfollow @<%= User.find_by(id: notifier).username %>?</h3>
    <span>Their Tweets will no longer show up in your home timeline. You can still view their profile, unless their Tweets are protected. </span>
    <div>
      <button value="confirm">Confirm</button>
    </div>
    <div>
      <button value="cancel">Cancel</button>
    </div>
  </form>
</dialog>
