<div class="w-[30%] conversation-list relative h-screen border-x border-x-secondary transition duration-500">
  <div class="new-message flex-none transition duration-500 border-b">
    <%= link_to new_conversation_icon, new_conversation_path, data: { turbo_frame: "modal", turbo_action: :advance} %>
  </div>

  <div class="flex flex-col gap-3 p-4 border-b border-b-secondary max-h-[70vh] overflow-auto transition duration-500">
    <%= render partial: "search/message_form", locals: {messages_search: messages_search, query: query} %>
  </div>

  <div class="messages-list truncate overflow-auto">
    <%= turbo_frame_tag "conversations", data: { turbo_action: :advance }, class: "flex flex-col gap-px" do %>
      <% conversations.each do |c| %>
        <%= render partial: "conversations/single_conversation_preview", locals: {conversation: c} %>
      <% end %>
    <% end %>
  </div>
</div>