<%= turbo_frame_tag "post_#{post.id}", class: "turbo-nested" do %>
  <div class="post">
    <div class="post-info">
      <p>This Post is unavailable because @<%= post.author.username %> blocked you.</p>
    </div>
  </div>
<% end %>
