/*
 * Your custom CSS goes here but before adding a lot of CSS check this out:
 *   https://tailwindcss.com/docs/extracting-components
*/

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  :root {
    --text: #180202;
    --background: #fafafa;
    --primary: #FA7070;
    --secondary: #e6e6e5;
    --accent: #E90101;
    --accent2: #ffac99;
    --retweeted: #65ba5a;
    --liked: #ca5649;
    --theme-switch-pos: 0.15rem
  }
  .dark {
    --text: #fde7e7;
    --background: #050505;
    --primary: #880202;
    --secondary: #1a1a19;
    --accent: #FE1616;
    --accent2: #661300;
    --liked: #b64235;
    --retweeted: #50a545;
    --theme-switch-pos: 2.38rem
  }
}

/* 50: '#ffeae5', */
/* 100: '#ffd5cc', */
/* 200: '#ffac99', */
/* 300: '#ff8266', */
/* 400: '#ff5833', */
/* 500: '#ff2f00', */
/* 600: '#cc2500', */
/* 700: '#991c00', */
/* 800: '#661300', */
/* 900: '#330900', */
/* 950: '#1a0500', */

.preload * {
  transition: none !important;
}

 html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
  /* https://stackoverflow.com/a/39289453/17369830 */
}

 #modal {
   position: absolute;
   z-index: 2;
   right: 10px;
   top: 10px;
   width: 400px;
   word-break: break-word;
   border-radius: 6px;
   background: #bad5ff;
 }

.nested-comments {
  margin-top: 0px;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.nested-comments > .thread  {
  display: flex;
  flex: 1 0 100%;
}

.thread > .turbo-nested {
  flex: 1;
}

.nested-comments .tweet {
  border: none;
  /* margin-top: -15px; */
  margin-top: -5px;
  margin-left: 0px;
}

.nested-comments:nth-child(1) {
  width: 100%
}

.collapse-line {
  padding: 2px;
  background-color: rgb(168, 168, 168);
  border: 10px solid transparent;
  background-clip: padding-box;
}

.nested-comments .collapse-line:hover {
  background-color: rgb(56, 55, 55);
}

.thread.hidden .collapse-line {
  background-color: rgb(207, 207, 207);
}

.thread.hidden .collapse-line:hover {
  background-color: rgb(240, 239, 239);
}

.creation-info {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.author {
  text-decoration: none;
}

 .icon-lock {
  position: relative;
  top: 1px;
 }

 .icon-retweet,
 .icon-like,
 .icon-unlike,
 .icon-quote,
 .icon-comment,
 .icon-more-info,
 .icon-share {
  max-width: 24px;
  max-height: 24px;
  transform: scale(0.7813);
}

  .display-name {
    font-weight: 700;
   }

  .display-name:hover {
    text-decoration: underline;
  }

  .time-ago {
    text-decoration: none;
  }

  .tweet-info > a {
    text-decoration: none;
  }

  .tweet-info > a:last-child:hover {
    text-decoration: underline;
  }

  .like,
  .retweet,
  .comments {
    display: flex;
    padding: 5px;
    align-items: center;
  }

  .likes > span,
  .retweets > span,
  .comments > span {
    margin-right: 10px;
  }

  .comment-count {
    margin-left: 10px;
  }

  .retweet-count,
  .like-count {
    margin-left: 10px;
  }

  .notification {
    border: 1px solid grey;
    padding: 5px;
  }

  .retweet-button button,
  .unretweet-button button,
  .like-button button,
  .unlike-button button,
  .dropdown button,
  .more-info-btn button,
  .limited-rt,
  .quote button,
  .comment button{
    display: flex;
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    z-index: 1;
    width: 100%;
  }

  .conversation-form {
    position: relative;
    z-index: 1;
  }

  .activity-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  top: -3px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}

.more-info {
  right: 20px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: flex;
  flex-direction: column;
}

.backdrop {
  z-index: 0;
  bottom: 0px;
  left: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
}

dialog {
  padding: 0;
  /* border: 0; */
}

dialog form {
  /* max-width: 200px; */
  padding: 20px
}


#messages {
  display: flex;
}

.individual-message {
  padding: 20px;

}
