/*
 * Your custom CSS goes here but before adding a lot of CSS check this out:
 *   https://tailwindcss.com/docs/extracting-components
*/

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  :root {
    --text: #180202;
    --text-dimmed: #6e6e6e;
    --background: #fafafa;
    --primary: #FA7070;
    --secondary: #e6e6e5;
    --accent: #E90101;
    --accent2: #ffac99;
    --comment: #ff5833;
    --reposted: #ff2f00;
    --liked: #cc2500;
    --bookmarked: #991c00;
    --theme-switch-pos: 0.15rem
  }
  .dark {
    --text: #fde7e7;
    --text-dimmed: #706666;
    --background: #050505;
    --primary: #880202;
    --secondary: #1a1a19;
    --accent: #FE1616;
    --accent2: #661300;
    --comment: #cc2500;
    --reposted: #ff2f00;
    --liked: #ff5833;
    --bookmarked: #ff8266;
    --theme-switch-pos: 2.38rem
  }
}

.preload * {
  transition: none !important;
}

 html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
  /* https://stackoverflow.com/a/39289453/17369830 */
}

 #modal {
   position: absolute;
   z-index: 20;
   right: 10px;
   top: 10px;
   width: 400px;
   word-break: break-word;
   border-radius: 6px;
   background: #bad5ff;
 }

.nested-comments {
  margin-top: 0px;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.nested-comments:nth-child(1) {
  width: 100%
}

.author {
  text-decoration: none;
}

 .icon-lock {
  position: relative;
  top: 1px;
 }


  .display-name {
    font-weight: 700;
   }

  .display-name:hover {
    text-decoration: underline;
  }

  .notification {
    border: 1px solid grey;
    padding: 5px;
  }

  .conversation-form {
    position: relative;
    z-index: 1;
  }

  .activity-box {
    justify-content: space-around;
    align-items: center;
  }

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
  text-decoration: none;
  display: block;
}

#messages {
  display: flex;
}

.individual-message {
  padding: 20px;
}
