<%= form_with model: current_user.account, method: :patch, data: ({ turbo_confirm: "Are you sure?" } unless current_user.account.private_visibility? ), id: "account-visibility" do |f| %>
  <div>
    <%= f.label :private_visibility, onchange: "this.form.requestSubmit()" do %>
      <div>Protect your Tweets</div>
        <%= f.check_box :private_visibility,{ checked: current_user.account.private_visibility? } %>
    <% end %>
    <div>
      When selected, your Tweets and other account information are only visible to people who follow you.
    </div>
  </div>
<% end %>

<div>
  <%= link_to "Photo tagging", settings_tagging_url %>
  <div id="current-tagging-setting">
    <% if current_user.account.allow_media_tagging_turned_off? %>
      <span>Off</span>
    <% elsif current_user.account.allow_media_tagging_anyone_can_tag? %>
      <span>Anyone can tag you</span>
    <% else %>
      <span>Only people you follow can tag you</span>
    <% end %>
  </div>
</div>

<dialog id="turbo-confirm">
  <form id="dialog" method="dialog">
    <h3>Protect your Tweets?</h3>
    <span>This will make them visible only to your Twitter followers.</span>
    <div>
      <button value="confirm">Protect</button>
    </div>
    <div>
      <button value="cancel">Cancel</button>
    </div>
  </form>
</dialog>
