<div>
  When you block someone, that person won’t be able to follow or message you, and you won’t see notifications from them.
</div>

<div>
  <%= link_to "Imported", settings_blocked_imported_path %>
</div>
