<%= form_with model: @account do |f| %>
  <div>
    <%= f.label :sensitive_media, "Mark media you Tweet as having material that may be sensitive" %>
    <%= f.check_box :sensitive_media %>
    <div>
      When enabled, pictures and videos you Tweet will be marked as sensitive for people who don’t want to see sensitive content.
    </div>
  </div>
<% end %>

<%# Add location info?? %>


