<div>
  <%= link_to "Blocked accounts", blocks_path %>
</div>

<div>
  <%= link_to "Muted accounts", settings_muted_all_path %>
</div>

<div>
  <%= link_to "Muted words", settings_muted_keywords_path %>
</div>

<div>
  <%= link_to "Muted notifications", settings_notifications_advanced_filters_path %>
</div>
