<div>
  <%= link_to "Blocked accounts", settings_blocked_all_url %>
</div>

<div>
  <%= link_to "Muted accounts", settings_muted_all_url %>
</div>

<div>
  <%= link_to "Muted words", settings_muted_keywords_url %>
</div>

<div>
  <%= link_to "Muted notifications", settings_notifications_advanced_filters_url %>
</div>
