<%= form_with model: current_user.account, method: :patch, id:"tweet-sensitivity" do |f| %>
  <div>
    <%= f.label :sensitive_tweets, onchange: "this.form.requestSubmit()" do %>
    <div>Mark media you Tweet as having material that may be sensitive</div>
      <%= f.check_box :sensitive_tweets, { checked: current_user.account.sensitive_tweets? }  %>
    <% end %>
    <div>
      When enabled, pictures and videos you Tweet will be marked as sensitive for people who don’t want to see sensitive content.
    </div>
  </div>
<% end %>

<%# Add location info?? %>


